<%= render 'form', import: @import %>

<h3>Liste des imports</h3>
<% @imports.each do |import| %>
  <%= import.id %>
  <%= link_to 'Afficher', import %>
  <%= link_to 'Supprimer', import, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>
  <br>
<% end %>

<h3>Contacts importés</h3>
<% @imports.each do |import| %>
    <% import.contacts.each do |ct| %>
    <%= "#{ct.firstname} #{ct.lastname} #{ct.email}" %>
    <br>
    <% end %>
<% end %>

<h3>Contacts non importés</h3>
<% @imports.each do |import| %>
  <% import.null_contacts.each do |ct| %>
    <%= "#{ct.firstname} #{ct.lastname} #{ct.email} #{ct.status}" %>
    <br>
  <% end %>
<% end %>
